In [45]:
import tensorflow as tf
import keras as ks
from pathlib import Path
import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
df= pd.read_csv(r"../Churn_Modelling.csv")

In [25]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
df.shape

(10000, 14)

In [27]:
X = df.iloc[:,3:12]
Y = (df.iloc[:,13])
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [28]:
X= X.drop(['Geography','Gender'],axis=1)

In [29]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember
0,619,42,2,0.00,1,1,1
1,608,41,1,83807.86,1,0,1
2,502,42,8,159660.80,3,1,0
3,699,39,1,0.00,2,0,0
4,850,43,2,125510.82,1,1,1

In [30]:
X = pd.concat([X,geography,gender],axis=1)

In [31]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,0,0,0
1,608,41,1,83807.86,1,0,1,0,1,0
2,502,42,8,159660.80,3,1,0,0,0,0
3,699,39,1,0.00,2,0,0,0,0,0
4,850,43,2,125510.82,1,1,1,0,1,0

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2, random_state=0)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [35]:
## Lets create the ANN

In [36]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [37]:
##Lets initialize the ANN
classifier = Sequential()

In [38]:
## Adding the input layer

In [39]:
classifier.add(Dense(units = 11, activation='relu'))

In [40]:
## Adding first hidden layer
classifier.add(Dense(units=7, activation='relu'))
## Adding Second hidden layer
classifier.add(Dense(units=7, activation='relu'))
## Adding the output layer
classifier.add(Dense(units=1, activation='sigmoid'))

In [41]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [42]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01 )

In [43]:
opt

In [44]:
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size = 10, epochs=1000)

ValueError: Please provide as model targets either a single array or a list of arrays. You passed: y=7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [ ]:
## Early stopping
from keras.callbacks import EarlyStopping

In [ ]:
early_stopping = EarlyStopping(monitor='val_loss',
                               patience=5,
                               restore_best_weights=True,
                               verbose = 1,
                               mode = 'auto',
                               baseline=None,
                               min_delta = '0.0001')

In [ ]:
model = classifier.fit(X_train,
                               y_train,
                               validation_split=0.33,
                               batch_size = 10,
                               epochs=1000)

In [ ]:
model.history.keys()

In [ ]:
plt.plot(model.history['accuracy'])
plt.title('model_accuracy')
plt.xlabel('epochs')
plt.ylabel('accuracy')
plt.legend(['train','test'], loc = 'upper left')
plt.show()

In [ ]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix

In [ ]:
cm = confusion_matrix(y_test,y_pred)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
score = accuracy_score(y_test, y_pred)

In [ ]:
classifier.get_weights()